main {
  background-color: powderblue;
}
h1 {
  color: teal;
  font-family: "Futura";
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}
img {
  width: 40%;
  margin-left: 400px;
  margin-top: 50px;
}
button {
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 6px;
  font-size: 18px;
  font-family: "Futura";
  margin-left: 580px;
  margin-top: 20px;
  animation-name: changebg;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes changebg {
  0% {
    background-color: black;
    color: white;
    transform: scale(0, 2);
  }
  50% {
    background-color: #393142;
    transform: scale(0, 2);
  }
  100% {
    background-color: #a189b5;
    transform: scale(1);
  }
}
