/* header, h1, main, img, button */

:root {
  --powderblue: rgb(176, 224, 230);
  --teal: rgb(0, 128, 128);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --dark-purple: #393142;
  --light-purple: #a189b5;
}
/* CSS -reset */
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
h1 {
  color: var(--teal);
  font-family: "Futura";
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}
main {
  background-color: var(--powderblue);
  height: 500px;
}
img {
  width: 40%;
  margin-left: 400px;
  margin-top: 50px;
}
button {
  width: 200px;
  height: 50px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 6px;
  font-size: 18px;
  font-family: "Futura";
  margin-left: 580px;
  margin-top: 20px;
  /* 
  animation-name: changebg;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  */
  animation: changebg 5s infinite linear;
  /* 
  transition-property: background-color;
  transition-duration: 0, 5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s;
  */
  transition: ease-in;
}

@keyframes changebg {
  0% {
    background-color: var(--black);
    color: var(--white);
    transform: scale(0, 1);
  }
  50% {
    background-color: var(--dark-purple);
    color: var(--white);
    transform: scale(0, 2);
  }
  100% {
    background-color: var(--light-purple);
    color: var(--white);
    transform: scale(1);
  }
}
